.custom-hoop-link {
    font-size: 2rem;
    width: 90vw;
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: .5rem;
    border-radius: .75rem;
}
.custom-hoop h2 {
    font-size: 2rem;
    padding-left: 2rem;
    padding-bottom: .5rem;
}