@import 'header';
@import 'about';
@import 'custom';

html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    color: rgb(29, 40, 41);
}
a {
    color: rgb(252, 102, 127);
    text-decoration: underline;
}
a:visited {
    color: rgb(252, 102, 127);
    text-decoration: underline;
}
a:active {
    color: rgb(252, 102, 127);
    text-decoration: underline;
}
a:hover {
    color: rgb(252, 102, 127);
    text-decoration: underline;
}